<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/default">

    <head lang="ru">
        <title>Интегация с ИС Биллинг</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <h4 class="indigo-text" th:text="'Единицы измерения'">Точки учёта</h4>

                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Ид.</th>
                            <th>Код</th>
                            <th>Наименование</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="unit : ${units}">
                            <td th:text="${unit.id}">Ид.</td>
                            <td th:text="${unit.code}">Код</td>
                            <td th:text="${unit.name}">Наменование</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>