<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale-1, maximum-scale=1.0, user-scalable=no " />
        <title>Default title</title>
        <link href="/webjars/materializecss/0.100.2/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/webjars/material-design-icons/3.0.1/material-icons.css" type="text/css" rel="stylesheet" media="screen,projection" />
    </head>

    <body>
        <nav>
            <div class="nav-wrapper indigo">
                <a style="margin-left: 10px" href="#!" class="brand-logo"><i class="material-icons">cloud</i>ИС Биллинг</a>
            </div>
        </nav>

        <section layout:fragment="content">
            <p>Page content goes here</p>
        </section>

        <script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
        <script src="/webjars/materializecss/0.100.2/js/materialize.js"></script>

        <script type="text/javascript" layout:fragment="script">
        </script>
    </body>
</html>