<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/default">

    <head lang="ru">
        <title>Интегация с ИС Биллинг</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <h4 class="indigo-text" th:text="'Типы архивов'">Типы архивов</h4>

                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Код</th>
                            <th>Наименование</th>
                            <th>Шаг (сек)</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="arcType : ${arcTypes}">
                            <td th:text="${arcType.code}">Код</td>
                            <td th:text="${arcType.name}">Наименование</td>
                            <td th:text="${arcType.step}">Шаг (сек)</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>